// Colors
$white: #fff;
$black: #000;
$transparent: transparent;


// Components:

// Button
$button-bg-default: $transparent;
$button-text-default: $black;
$button-bd-default: $black;
$button-bg-hover: $black;
$button-text-hover: $white;