// NavItem
.NavItem {
    list-style: none;
    color: $navitem-text-default;
    margin: 0 15px;
    font-weight: bold;
    white-space: nowrap;
    text-transform: uppercase;

    .active {
        padding: 5px 10px;
        border-radius: 24px;
        background-color: $navitem-bg-active;
        color: $navitem-text-active;
    }

    a {
        text-decoration: none;
    }
}